html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#centerColumn {
  /* margin: 0 auto; */
  /* padding: 0 auto; */
  /* text-align: center; */
}

/* #searchBox, */
#todoTask,
#addTask {
  margin: 0 auto;
  width: 600px;
  /* text-align: center; */
}


button {
  height: 48px;
  width: 48px;
  padding: 0;
  margin: 0;
  font-size: 19px;
  font-family: monospace;
  line-height: 0;
  background: #6166683a;
  color: #000000;
  /* margin: 0 auto; */
  border: 1px solid;
  text-align: center;
  font-weight: 500;
}
button:focus {
  border: 0px solid;

}

fieldset {
  width: 600px;
  margin: 20px auto;
  border: 0;
}


legend {
  font-size: 30px;
  font-family: Consolas;
  font-weight: 600;
}

.task-item {
  margin: 0;
  outline-style: none;
  border: 1px solid #ccc;
  padding: 13px 13px;
  width: 572px;
  height: 30px;
  font-size: 20px;
  font-family: "Microsoft soft";
}

label {
  margin: 0 auto;
}

input.text-input {
  outline-style: none;
  border: 1px solid #ccc;
  padding: 14px 14px;
  width: 516px;
  height: 20px;
  font-size: 14px;
  font-family: "Microsoft soft";
}

input.text-input:focus {
  box-shadow: 0 2px 4px 0 rgba(16, 206, 212, 0.74),
    0 25px 25px 0 rgba(223, 10, 10, 0.041);
}

/* input.check-box { */
  /* text-align: center; */
  /* width: 25px; */
  /* position: absolute; */
  /* top: 0; */
  /* bottom: 0; */
  /* margin: auto 0; */
  /* border: none; */
/* } */

/* @media screen and (-webkit-min-device-pixel-ratio: 0) {
  .check-box {
    height: 25px;
  }
} */

